<div cc-message-in-checkout-heading="{{ settings.cc_message_in_checkout_heading }}"></div>
<div cc-message-in-checkout-description="{{ settings.cc_message_in_checkout_description }}"></div>
<div mixed-order-message-in-checkout-description="{{ settings.mixed_order_message_in_checkout_description }}"></div>
<script src="https://d3aq2u4yw77ivo.cloudfront.net/find-in-store/shopify/thememo/find-in-store.shopify.thememo.prod.js" async></script>
