<button
  role="button"
  class="add-to-lists-button"
  aria-label="Find in Store"
  onclick="window.Brauz_openDrawerInPDP()"
>
  <span class="text">
    Find in Store
  </span>
</button>

<div
  id="brauz-find-in-store-config-product-page"
  data-sd="{{ shop.permanent_domain }}"
  data-cvi="{{ product.first_available_variant.id }}"
  data-hodv="{{ product.has_only_default_variant }}"
  style="display: none; width: 0"
></div>
<script src="https://d3aq2u4yw77ivo.cloudfront.net/find-in-store/shopify/thememo/find-in-store.shopify.thememo.prod.update.js" async></script>